.light {
  background-color: #f9f9f9;
  color: #000;
}

.dark {
  background-color: #1e1e1e;
  color: #fff;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 16px;
}

.dashboard {
  padding: 20px;
}
